@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Gilroy-BoldItalic.ttf");
}
