@import "./fonts";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  /* This is a very bad practice */
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

body {
  background: #1d153e;
  color: white;
  font-family: "Gilroy";
}
